# Build directories
build/
Build/
out/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
compile_commands.json

# IDE-specific files
.idea/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.suo
cmake-build-*/
.vscode/
.vs/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.log
*.bak
*.old

# Debug files
*.dbg
*.dSYM/

imgui.ini

.github/